<!DOCTYPE html>
<html lang="en">
<title>DESIGN APP</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/style.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
</style>
<body>



<!-- Header -->
<header class="w3-container w3-amber w3-center" style="padding:128px 16px; background-image: url('https://i.imgur.com/SU1soPN.jpg');"></div>
    <h1 class="w3-margin w3-jumbo">LOGIN</h1>
</header>

<div class="center">
<form id="submit_form" method=POST>
    <div class="row" style="margin-left:650px;">
        <div class="col-lg-6" style="margin-top:18px; margin-bottom:18px; margin-left:30px;">
            <div><input type="text" placeholder="Email or Username" name="username" required="required" style="font-size: 18pt; height: 50px; width:500px;"><div class="input_border"></div></div>
        </div>
        <div class="col-lg-6" style="margin-bottom:18px; margin-left:30px;">
            <div><input type="password" placeholder="Password" name="password" required="required" style="font-size: 18pt; height: 50px; width:500px;"><div class="input_border"></div></div>
        </div>
        <div class="col-lg-6" style="margin-bottom:18px; margin-left:30px;">
            <div><input type=submit name="knowloc" value="LOGIN" class="btn-log login" style="font-size: 18pt; height: 50px; width:500px;"><div class="input_border"></div></div>
        </div>
        <div class="col-lg-6" style="margin-bottom:18px; margin-left:220px;">
            <a href="facebook.com">Forgot password?</a>
        </div>
        <div class="col-lg-5" style="margin-bottom:18px; margin-left:28px;">
            <hr>
        </div>
        <div class="col-lg-6" style="margin-bottom:18px; margin-left:130px;">
            <div><input type=submit name="knowloc" value="Create an Account" class="btn-create success" style="font-size: 18pt; height: 50px; width:300px;"><div class="input_border"></div></div>
        </div>
    </div>
    </form>
    </div>

</body>
</html>
